<mat-form-field appearance="fill">
  <mat-label>Data Inicial</mat-label>
  <input
    matInput
    [matDatepicker]="datePicker1"
    [min]="minDate"
    [max]="maxDate"
    (dateChange)="startDateChange($event)"
  />
  <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
  <mat-datepicker #datePicker1></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Data Final</mat-label>
  <input matInput [matDatepicker]="datePicker2" [min]="minDate" [max]="maxDate" (dateChange)="endDateChange($event)" />
  <mat-datepicker-toggle matSuffix [for]="datePicker2"></mat-datepicker-toggle>
  <mat-datepicker #datePicker2></mat-datepicker>
</mat-form-field>

<!--ul *ngFor="let i of selics">
  <li> Data: {{ i.data }} | Taxa: {{ i.valor }} </li>
</ul-->

<mat-progress-spinner mode="indeterminate" *ngIf="hiddenLoader">
</mat-progress-spinner>

<table id="tabela" style="width: 33%" [hidden]="hidden">
  <th>Data</th>
  <th>Valor</th>
  <tr *ngFor="let i of selicData">
    <td>{{ i.data | date: 'shortDate' }}</td>
    <td>{{ i.valor }}</td>
  </tr>
</table>
