<mat-form-field appearance="fill">
  <mat-label>{{ 'datepicker.text-start' | translate }}</mat-label>
  <input
    matInput
    [matDatepicker]="datePicker1"
    [min]="minDate"
    [max]="maxDate"
    (dateChange)="startDateChange($event)"
  />
  <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
  <mat-datepicker #datePicker1></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>{{ 'datepicker.text-end' | translate }}</mat-label>
  <input matInput [matDatepicker]="datePicker2" [min]="minDate" [max]="maxDate" (dateChange)="endDateChange($event)" />
  <mat-datepicker-toggle matSuffix [for]="datePicker2"></mat-datepicker-toggle>
  <mat-datepicker #datePicker2></mat-datepicker>
</mat-form-field>

<mat-progress-spinner mode="indeterminate" diameter="70" style="margin: 0 215px" *ngIf="hiddenLoader">
</mat-progress-spinner>

<table id="tabela" style="width: 33%" [hidden]="hidden">
  <th>{{ 'table.date' | translate }}</th>
  <th>{{ 'table.value' | translate }}</th>
  <tr *ngFor="let i of selicData">
    <td>{{ i.data | date: 'shortDate' }}</td>
    <td>{{ i.valor }}</td>
  </tr>
</table>
